<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length" class="p-button-danger" icon="pi pi-trash" label="Delete" pButton pRipple></button>
      </ng-template>

      <ng-template pTemplate="right">
        <button class="p-button-help" icon="pi pi-upload" label="Export" pButton pRipple></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt
             [(selection)]="selectedItems"
             [globalFilterFields]="['name', 'email', 'created_at']"
             [paginator]="true"
             [rowHover]="true"
             [rows]="10"
             [showCurrentPageReport]="true"
             [value]="items"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             dataKey="id"
             responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Manage Users</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <!--suppress TypeScriptUnresolvedVariable -->
            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="Search..." type="text" />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="created_at">Registered <p-sortIcon field="created_at"></p-sortIcon></th>
          <th> Operations </th>
        </tr>
      </ng-template>

      <ng-template let-item pTemplate="body">
        <tr>
          <td>
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td>
            <a [routerLink]="['/users/' + item.id]" [replaceUrl]="true">{{item.name}}</a>
          </td>
          <td>
            <a href="mailto:{{ item.email }}">{{ item.email }}</a>
          </td>
          <td>
            {{ item.created_at | date: 'yyyy-MM-dd HH:mm' }}
          </td>
          <td>
            <button pButton type="button"
                    *ngIf="item.del"
                    (click)="deleteItem(item)"
                    class="p-button-rounded p-button-warning"
                    icon="pi pi-trash"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{items ? items.length : 0 }} users.
        </div>
      </ng-template>
    </p-table>
  </div>
</ion-content>
